$clr-primary: #415167;
$clr-dark-grey: #151d28;
$clr-accent: #c7a17a;
$clr-accent-hover: #f9f5e8;
$clr-light-grey: #edf0f5;
$clr-white: #fff;
$clr-light-btn: #f9fbff;
$fz-default: 16px;
$fz-tiny: 14px;
$fz-small: 20px;
$fz-medium: 24px;
$fz-big: 30px;
$fz-great: 54px;
$fw-300: 300;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;
$shadow: 0px 4px 24px 0px rgba(205, 205, 205, 0.5);
$width-content: 1400px;
